{% extends 'base.html' %}
{% load static %}

{% block contract %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            {% for i in article1 %}
          <div class="item">
            <img src="{{ i.image.url }}" alt="{{ i.title }}">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>{{ i.category.all.last }}</span>
                </div>
                <a href="{% url 'blog:article_detail' i.slug %}"><h4>{{ i.title }}</h4></a>
                <ul class="post-info">
                  <li><a href="{% url 'account:profile_detail' i.author.id %}">{{ i.author }}</a></li>
                  <li><a href="{% url 'blog:article_detail' i.slug %}">{{ i.created }}</a></li>
                  <li><a href="{% url 'blog:article_detail' i.slug %}">{{ i.comments.count }}  Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
    </div>
</div>
          <!-- <div class="item">
            <img src="{% static 'blog/assets/images/banner-item-02.jpg' %}" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Nature</span>
                </div>
                <a href="post-details.html"><h4>Donec porttitor augue at velit</h4></a>
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 14, 2020</a></li>
                  <li><a href="#">24 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'blog/assets/images/banner-item-03.jpg' %}" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Lifestyle</span>
                </div>
                <a href="post-details.html"><h4>Best HTML Templates on TemplateMo</h4></a>
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 16, 2020</a></li>
                  <li><a href="#">36 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'blog/assets/images/banner-item-04.jpg' %}" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Fashion</span>
                </div>
                <a href="post-details.html"><h4>Responsive and Mobile Ready Layouts</h4></a>
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 18, 2020</a></li>
                  <li><a href="#">48 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'blog/assets/images/banner-item-05.jpg' %}" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Nature</span>
                </div>
                <a href="post-details.html"><h4>Cras congue sed augue id ullamcorper</h4></a>
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 24, 2020</a></li>
                  <li><a href="#">64 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'blog/assets/images/banner-item-06.jpg' %}" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Lifestyle</span>
                </div>
                <a href="post-details.html"><h4>Suspendisse nec aliquet ligula</h4></a>
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 26, 2020</a></li>
                  <li><a href="#">72 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Banner Ends Here -->

    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>Example of work:</span>
                  <h4>Programmer Ali Ahmadi</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a href="https://t.me/A3_O25" target="_parent">Contact us (Telegram)</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    {% for i in article2 %}
                    <div class="blog-thumb">

                      <img src="{{ i.image.url }}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{ i.category.last }}</span>
                      <a href="{% url 'blog:article_detail' i.slug %}"><h4>{{ i.title }}</h4></a>
                      <ul class="post-info">
                        <li><a href="{% url 'account:profile_detail' i.author.id %}">{{ i.author }}</a></li>
                        <li><a href="{% url 'blog:article_detail' i.slug %}">{{ i.created }}</a></li>
                        <li><a href="{% url 'blog:article_detail' i.slug %}">{{ i.comments.count }}  Comments</a></li>
                      </ul>
                      <p>{{ i.body|truncatewords:20 }}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="">Facebook</a>,</li>
                              <li><a href="">Telegram</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>

                <!-- <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{% static 'blog/assets/images/blog-post-02.jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                      <span>Healthy</span>
                      <a href="post-details.html"><h4>Etiam id diam vitae lorem dictum</h4></a>
                      <ul class="post-info">
                        <li><a href="#">Admin</a></li>
                        <li><a href="#">May 24, 2020</a></li>
                        <li><a href="#">36 Comments</a></li>
                      </ul>
                      <p>You can support us by contributing a little via PayPal. Please contact <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">TemplateMo</a> via Live Chat or Email. If you have any question or feedback about this template, feel free to talk to us. Also, you may check other CSS templates such as <a rel="nofollow" href="https://templatemo.com/tag/multi-page" target="_parent">multi-page</a>, <a rel="nofollow" href="https://templatemo.com/tag/resume" target="_parent">resume</a>, <a rel="nofollow" href="https://templatemo.com/tag/video" target="_parent">video</a>, etc.</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Best Templates</a>,</li>
                              <li><a href="#">TemplateMo</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#">Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{% static 'blog/assets/images/blog-post-03.jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                      <span>Fashion</span>
                      <a href="post-details.html"><h4>Donec tincidunt leo nec magna</h4></a>
                      <ul class="post-info">
                        <li><a href="#">Admin</a></li>
                        <li><a href="#">May 14, 2020</a></li>
                        <li><a href="#">48 Comments</a></li>
                      </ul>
                      <p>Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">HTML CSS</a>,</li>
                              <li><a href="#">Photoshop</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#">Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="{% url 'blog:article_list' %}">View All Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="{% url 'blog:search' %}">
                      <input type="text" name="q" class="searchText" placeholder="Search in articles and locations..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for i in recent_articles %}
                        <li><a href="{% url 'blog:article_detail' i.slug %}">
                          <h5>{{ i.title }}</h5>
                          <span>{{ i.created }}</span>
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for i in category %}
                        <li><a href="{% url 'blog:category_detail' i.id %}">- {{ i.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2></h2>
                    </div>
                    <div class="content">
                      <ul>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


   {% endblock %}